<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes" />
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="HandheldFriendly" content="True">
  <meta name="format-detection" content="telephone=no, email=no">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,maximum-scale=1, minimum-scale=1,user-scalable=no,viewport-fit=cover">
  <link rel="icon" href="<%= context.publicPath %>favicon.ico">
  <script src="<%=context.publicPath%>js/flexble2.js"></script>
  <title>react_demo</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but this website doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="root"></div>

</body>

</html>