@import "./style/variables";
@import "./style/mixin";
html, 
body, 
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font;
  background-color: #f5f6f7;
  padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}
